export(clusterAlgo
      ,clusterInit
      ,clusterStrategy
      ,clusterFastStrategy
      ,clusterSemiSEMStrategy
      ,clusterDiagGaussianNames
      ,clusterGammaNames
      ,clusterCategoricalNames
      ,clusterPoissonNames
      ,clusterKernelNames
      ,clusterValidGammaNames
      ,clusterValidCategoricalNames
      ,clusterValidPoissonNames
      ,clusterValidDiagGaussianNames
      ,clusterValidKernelNames
      ,clusterDiagGaussian
      ,clusterGamma
      ,clusterCategorical
      ,clusterPoisson
      ,clusterHeterogeneous
      ,clusterKernel
      )

exportClasses(ClusterAlgo
             ,ClusterInit
             ,ClusterStrategy
             ,IClusterModelBase
             ,IClusterComponent
             ,ClusterDiagGaussianComponent
             ,ClusterDiagGaussian
             ,ClusterGammaComponent
             ,ClusterGamma
             ,ClusterCategoricalComponent
             ,ClusterCategorical
             ,ClusterPoissonComponent
             ,ClusterPoisson
             ,ClusterHeterogeneous
             ,ClusterKernelComponent
             ,ClusterKernel
             )

exportMethods(print)
exportMethods(plot)
exportMethods(show)
exportMethods(summary)
exportMethods(missingValues)

import(rtkpp)

importFrom("methods", "show")
importFrom("graphics", "close.screen", "hist", "lines", "par", "screen", "split.screen")
importFrom("methods", "callNextMethod", "new", "validObject")
importFrom("stats", "cov.wt", "dgamma", "dnorm", "dpois")

useDynLib(MixAll)
