export(clusterAlgo
      ,clusterInit
      ,clusterStrategy
      ,diagGaussianNames
      ,clusterDiagGaussian
      ,clusterGamma
      )

export(CxxFlags,
       LdFlags
      )

exportClasses(ClusterAlgo
             ,ClusterInit
             ,ClusterStrategy
             ,IClusterModel
             ,ClusterCategoricalModel
             ,ClusterDiagGaussian
             ,ClusterGamma
             )

exportMethods(print)
exportMethods(plot)
exportMethods(show)
exportMethods(summary)
exportPattern("^[[:alpha:]]+")

import(Rcpp)
importFrom(methods,show)

useDynLib(rtkpp)
