export(clusterAlgo
      ,clusterInit
      ,clusterStrategy
      ,clusterFastStrategy
      ,diagGaussianNames
      ,validDiagGaussianNames
      ,gammaNames
      ,validGammaNames
      ,categoricalNames
      ,validCategoricalNames
      ,clusterDiagGaussian
      ,clusterHeterogeneous
      ,clusterGamma
      ,clusterCategorical
      )

export(CxxFlags,
       LdFlags
      )

exportClasses(ClusterAlgo
             ,ClusterInit
             ,ClusterStrategy
             ,IClusterModelBase
             ,ClusterCategorical
             ,ClusterDiagGaussian
             ,ClusterGamma
             )

exportMethods(print)
exportMethods(plot)
exportMethods(show)
exportMethods(summary)
exportMethods(missingValues)

import(Rcpp)
importFrom(methods,show)

useDynLib(rtkpp)
